<?xml version="1.0"?>

<launch>

  <arg name="agent_node" default="human_task_executor" />
  <arg name="topic_request_from_planner" default="/sharework/test/stiima/human" />
  <arg name="group_name" default="human"/>

  <param name="is_human_real" value="true" />

<!-- launch-prefix="gdb -ex run meno meno args" -->
  <node name="$(arg agent_node)" pkg="task_planner_interface" type="human_executor_node" output="screen" >
    <param name="topic_request_from_planner" value="$(arg topic_request_from_planner)" />
    <param name="group_name" value="$(arg group_name)" />
    <!-- <remap from="/sharework/interfaces/request" to="/hmi/task_execution_request"/>
    <remap from="/sharework/interfaces/feedback" to="/hmi/task_execution_result"/> -->
    <remap from="/hmi/task_execution_request" to="/sharework/interfaces/request"/>
    <remap from="/hmi/task_execution_result" to="/sharework/interfaces/feedback"/>
  </node>





</launch>
