<?xml version="1.0"?>

<launch>

  <arg name="group_name" default="agent"/>
  <arg name="agent_node" default="agent_task_executor" />
  <arg name="home_position" default="agent_home" />
  <arg name="retry_position" default="agent_away" />

  <arg name="topic_request_from_planner" default="/sharework/test/stiima/motion" />

  <arg name="go_home_after_execution" default="false" />
  <param name="go_home_after_execution" value="$(arg go_home_after_execution)" />

<!-- launch-prefix="gdb -ex run meno meno args" -->
  <node name="$(arg agent_node)_task_executor" pkg="task_planner_interface" type="task_executor_node" output="screen" >
    <param name="topic_request_from_planner" value="$(arg topic_request_from_planner)" />
    <param name="group_name" value="$(arg group_name)" />
    <param name="home_position" value="$(arg home_position)" />
    <param name="retry_position" value="$(arg retry_position)" />
  </node>
  <include file="$(find sharework_task_planning)/launch/sequence_executor.launch" >
    <arg name="group_name" value="$(arg group_name)" />
    <arg name="agent_node" value="robot_task_executor" />
    <arg name="topic_request_from_planner" value="$(arg topic_request_from_planner)"/>
  </include>

</launch>
